<h1>Welcome to my BlogApp</h1>
<p>Find your level best to access our system</p>
<form>
    <table>
        <tr>
            <td>Username</td><td>&nbsp;</td><td><input type="text" name="username" ></td>
        </tr>
        <tr>
            <td>Password</td><td>&nbsp;</td><td><input type="password" name="username" ></td>
        </tr>
    </table>
    <input type="submit" value="login">
</form>
